$white: hsl(0, 0%, 100%);
$gray: hsl(240, 7%, 94%);
$footer-text: hsl(240, 2%, 79%);
$dark-gray: hsl(207, 13%, 34%);
$dark-blue: hsl(208, 49%, 24%);
$darker-blue: hsl(240, 19%, 25%);
$very-dark-blue: hsl(240, 10%, 16%);
$shadow: hsl(203, 4%, 63%);
$black: hsl(0, 0%, 0%);
$red: hsl(353, 100%, 62%);
$header-gradient: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
$btn-gradient: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
